<!DOCTYPE html>


    
    <!--<div ng-show="provideErrorMsg()" class="alert alert-danger"> <strong>Warning ! {{printedMsg}}</strong></div>-->



    <div ng-show="provideSuccessMsg()" class="alert alert-success"> <strong>{{printedMsg}}</strong></div>
    
    <div class="row">
        <div class="h2 text-center">Select a video</div>
    </div>
    <div class="row"></div>
    <div ng-repeat="author in authors">
        <div class="row">
            <div class="col-md-12">
                <div id="how" class="anchor"></div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-top">
                        <h1 class="panel-title">{{author}}</h1>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="video in contents">
                            <div class="col-xs-6 col-sm-4 col-md-3" ng-show="video.author===author">
                                <li>
                                  <div ng-attr-title="{{video.title}}">{{video.title | limitTo: 27}}{{video.title.length>27 ? "..." : ""}}</div>
                                    <img ng-src="{{video.thumbnail}}" ng-attr-title="{{video.title}}" class="img-responsive" style="cursor:pointer" ng-click="createSession(video)"/>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

