
<div ng-controller="LogInController">


<div class="container">
    <form class="form-login" name="ConnectionForm" validate>

        <!-- ConnectionForm Form -->

        <form role="form" action="#" method="POST">
            <h2 class="form-login-heading">Connection</h2>
            <fieldset>
                <div class="login-wrap">



                    <!--   Name -->
                    <input class="form-control" placeholder="Name"
                           ng-model="user.username" type="text" autofocus required>
                    <br>

                    <!--  Password -->
                    <input class="form-control" placeholder="Password"
                           ng-model="user.password" type="password" required> <br>

                    <div class="form-group">
                        <button ng-click="login(user)" class="btn btn-block">
                            <i class="fa fa-lock"></i> Log In
                        </button>
                    </div>

                    <hr>
                    <div class="registration">
                        You don't have an account !!<br /> <a href="register"
                                                              onClick=""> Register Here</a>
                    </div>
                </div>
            </fieldset>
        </form>

    </form>

</div>

</div>